<h2>Dan Byrne, Software Engineer - CV</h2>

<p>Analytical and solutions orientated Software Engineer with twelve years commercial experience in both open and closed source worlds.</p>
    
<p>Commercially a .NET and open source developer / architect in companies ranging from start-ups to larger corporate entities.</p>

<h2>Education</h2>
<ul>
  <li>Northumbria University - Studied Computer Science</li>
  <li>Gateshead College - National Diploma in Computing</li>
</ul>

<h2>Skillset</h2>
<ul>
  <li>.NET Framework (2.0 - 4.7) including Mono on Linux and .NET Core (1.0 - 2.0)</li>
  <li>ASP.NET MVC and WebAPI</li>
  <li>Zend Framework</li>
  <li>PHP 3 - 5.3.6</li>
  <li>Javascript &amp; Angular 2/4</li>
  <li>MySQL up to 5.6 and MS-SQL 2000-2016</li>
  <li>"NoSQL" experience includes Counchbase, HBase, RavenDB and MongoDB</li>
  <li>Xamarin cross-platform development</li>
</ul>

<ul>
    <li>General administration of and familiarity with various flavours of Linux and Windows (Arch, Debian/Ubuntu, SuSE, CentOS)</li>
    <li>Exposure to enterprise patterns and architectures (message queueing, distributed processing, service bus, micro services)</li>
    <li>Virtualization (including bare-metal Xen, QEMU, ESXi and VMWare Workstation)</li>
    <li>Containerisation (Docker, Vagrant)</li>
    <li>Source control (Git, TFS, SVN)</li>
    <li>AWS Experience (EC2, Lambda, Kinesis, DynamoDB)</li>
    <li>Agile &amp; Test Driven Development (TDD)</li>
</ul>

<h2>Additional Training</h2>

<ul>
  <li>Agil8 Certifified Scrum-master</li>
</ul>

<h2>Career &amp; Work History</h2>
<p>Please request a full copy of my CV for more details</p>

<ul class="career">
  <li>
      <h3 class="inline">HomeApi Ltd.</h3>
      <p>Director and Lead Developer (June 2015 - Present)</p>
  </li>
  <li>
      <h3 class="inline">Vianet Plc.</h3>
      <p>Contract Full-Stack Developer (February 2017 - November 2017)</p>
  </li>
  <li>
      <h3 class="inline">The Test Factory</h3>
      <p>Contract Full-Stack Developer (June 2016 - December 2016)</p>
  </li>
  <li>
      <h3 class="inline">G4S Utility Services Ltd.</h3>
      <p>Contractor (October 2015 - April 2016)</p>
  </li>
  <li>
      <h3 class="inline">SaleCycle Ltd.</h3>
      <p>Senior Developer / Architect (January 2013 - October 2015)</p>
  </li>
  <li>
      <h3 class="inline">Bede Gaming Ltd.</h3>
      <p>Tech Lead (January 2011 - January 2013)</p>
  </li>
  <li>
      <h3 class="inline">Everything Everywhere - formerly Orange PLC.</h3>
      <p>Software Engineer (June 2009 - December 2011)</p>
  </li>
  <li>
      <h3 class="inline">Procter &amp; Gamble</h3>
      <p>Contract Software Developer (May 2006 - June 2007)</p>
  </li>
</ul>

<h2>Portfolio &amp; Links</h2>