
<div class='banner'>
    <header>
    
    </header>
    <div class='content'>
            <i class='glyphicon glyphicon-home icon'></i><h1>DanielByrne.net</h1>
    </div>
    <footer>
        <!-- <tabs></tabs> -->
        <ul class='nav'>
            <li [class.visible]="visible"><a routerLink='/'><i class="fa fa-home"></i>Home</a></li>
            <li [class.visible]="visible"><a routerLink='/blog' class="inactive"><i class="fab fa-wordpress"></i>Blog</a></li>
            <li [class.visible]="visible"><a routerLink='/cv'><i class="fa fa-briefcase"></i>CV</a></li>
            <li [class.visible]="visible"><a routerLink='/contact'><i class="fa fa-comments"></i>Contact Me</a></li>
        </ul>
        <ul class='nav featured'>

        </ul>
        <ul class='nav'>
            <li [class.visible]="visible"><a href='/user' class="inactive"><i class="fa fa-user"></i>Welcome, Guest [Signin]</a></li>
        </ul>
    </footer>
    </div>