<div class='container-fluid'>
  <div class='row'>
    <app-banner></app-banner>
  </div>

  <div class='row body-content col-sm-12'>

      <div class="nav nav-left">
             <h2>About Me</h2>
             <img class="avatar" src="/assets/face.png">
             <p>Dan Byrne is a keen and experienced Software Developer. Not so good at taking photographs.</p>

             <h2>Hire Me</h2>
             <p>I am available for Freelance or Contract work. Please <a routerLink="/contact">contact me</a> to find my rate for your project.</p>
      </div>

      <div class='centered'>
          <div class='content'>
              <router-outlet></router-outlet>
          </div>
      </div>

      <div class="nav nav-right">
          <h2>Blog Categories</h2>
          <div>
            <ul>
              <li>Virtualization</li>
              <li>Home Lab</li>
              <li>VT-D Passthrough</li>
              <li>Raspberry Pi</li>
              <li>Arduino</li>
              <li>.NET</li>
            </ul>
          </div>
          <h2>Blog Entries</h2>
          <div>
            No blog entries available to view yet.
          </div>
      </div>
  </div>

</div>