aside {
    padding: 10px;
}

.thumbs {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}

.thumb {
    padding: 10px;
    margin: 10px;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    
    height: 18em;
    max-width: 20em;
    min-width: 20em;
}

i {
    font-size: 1.5em;
}

.fill-vertical {
    flex-grow: 1;
}

div.thumb > header p {
    font-size: 0.7em;
}