<h2>Welcome</h2>
<p>Welcome to the new-look website. Designed from scratch in Angular 4 with semantic HTML.</p><p>Articles from <a href="http://blog.danielbyrne.net">blog.danielbyrne.net</a> will be ported over soon</p>

<aside class="radial-light">
  <p>Dan Byrne is a technology professional providing Software Development, Architecture and Consultancy services in and around the North East of England.</p>
  <p>He is interested in: .NET development, Virtualization, Embedded systems (IoT), Machine Learning and general hackery.</p>
</aside>

<p>Projects include:</p>

<div class="thumbs">
  <div class="thumb radial-light">
      <header>
          <h3>Arduino Rover</h3>
          <p>A WiFi enabled custom built buggy controlled by Arduino and put together with some questionable soldering skills</p>
      </header>
      <div class="fill-vertical">
          <iframe src="https://www.youtube.com/embed/-MNBWu7iFc4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen height="100%" width="100%">
          </iframe>
      </div>
      <div>
          <i class="fa fa-info-circle"></i>  
          <i class="fab fa-github"></i>
          <i class="fab fa-facebook"></i>
      </div>
  </div>
  <div class="thumb radial-light">
      <header>
        <h3>Home Lab</h3>
        <p>A virtualized environment with storage, remote access & reverse proxying to secure services</p>
      </header>
      <div class="fill-vertical">
          <img src="http://via.placeholder.com/320x190?text=Home+Lab">
      </div>
      <div>
          
      </div>
  </div>
  <div class="thumb radial-light">
      <header>
        <h3>HomeApi</h3>
        <p>A 'home OS' providing a plugin architecture exposing micro services. High level workflow UI. NLP capable.</p>
      </header>
      <div class="fill-vertical">
          <img src="http://via.placeholder.com/320x190?text=Home+Api">
      </div>
      <div>
          
      </div>
  </div>

</div>