<h2>Welcome</h2>
<p>Welcome to the new-look website. Designed from scratch in Angular 4 with semantic HTML.</p><p>Articles from <a href="http://blog.danielbyrne.net">blog.danielbyrne.net</a> will be ported over soon</p>

<aside class="radial-light">
  <p>Dan Byrne is a technology professional providing Software Development, Architecture and Consultancy services in and around the North East of England.</p>
  <p>He is interested in: .NET development, Virtualization, Embedded systems (IoT), Machine Learning and general hackery.</p>
</aside>

<h2>Personal Projects include:</h2>

<section class="thumbs">
    <section class="thumb radial-light">
      <header>
          <h3>Arduino Rover</h3>
      </header>
      <main class="fill-vertical">
            <p>A WiFi enabled custom built buggy controlled by Arduino and put together with some questionable soldering skills</p>
          <iframe src="https://www.youtube.com/embed/-MNBWu7iFc4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen height="190px" width="100%"></iframe>
      </main>
      <footer>
          <i class="fa fa-info-circle"></i>  
          <i class="fab fa-github"></i>
      </footer>
    </section>
  <section class="thumb radial-light">
      <header>
        <h3>Home Lab</h3>
      </header>
      <main class="fill-vertical">
          <p>A virtualized environment with storage, remote access & reverse proxying to secure services</p>
          <img src="http://via.placeholder.com/320x190?text=Home+Lab">
      </main>
      <footer>
            <i class="fa fa-info-circle"></i>  
            <i class="fab fa-github"></i>
      </footer>
    </section>
  <section class="thumb radial-light">
      <header>
        <h3>Home Api</h3>
      </header>
      <main class="fill-vertical">
            <p>A 'home OS' providing a plugin architecture exposing micro services. High level workflow UI. NLP capable.</p>
          <img src="http://via.placeholder.com/320x190?text=Home+Api">
      </main>
      <footer>
            <i class="fa fa-info-circle"></i>  
            <i class="fab fa-github"></i>
      </footer>
    </section>

</section>

<h2>Hire Me for a Project:</h2>
<section class="thumbs project-types-list">
    <section class="thumb project-type type-webapp">
        <header>
            <h3>Small App/Webapp</h3>
        </header>
        <main>
            <p>Typically these will take within the scope of about one to two weeks worth of design and development</p>
            <ul>
                <li>Usually 1 - 3 pages worth of content which the client will provide</li>
                <li>Around 1 weeks worth of work</li>
                <li>3 months of Post-Development Support included</li>
            </ul>
        </main>
    </section>
    <section class="thumb project-type type-application">
        <header>
            <h3>Full Application</h3>
        </header>
            <main>
                <p>A full application to specification</p>
                <ul>
                    <li>Typically at least around 3+ months worth of work</li>
                    <li>A full application (or webapp / mobile app) with a predefined purpose</li>
                    <li>Capable of connecting to third party services</li>
                    <li>Including setup within your existing infrastructure if required or set up within the relevent marketplaces</li>
                    <li>Includes scalability and security concerns</li>
                    <li>3 months of Post-Development Support included</li>
                </ul>
            </main>
    </section>
    <section class="thumb project-type type-architecture">
            <header>
                <h3>Large Architecture</h3>
            </header>
            <main>Typically these will take within the scope of about one to two weeks worth of design and development</main>
        </section>
</section>